<div class="row">
  <div class="col-md-2">
    Name
  </div>
  <div class="col-md-2">
    Surname
  </div>
  <div class="col-md-2">
    Position
  </div>
  <div class="col-md-2">
    Birth
  </div>
</div>
<hr>
