<form #myForm="ngForm" class="row" *ngIf="editUsersStatus" (submit)="saveUsers(user)">
  <input class="col-md-2 borders" type="text" [ngModel]="user.name" name="name" required placeholder="Not be empty">
  <input class="col-md-2 borders" type="text" [ngModel]="user.surName" name="surName" required placeholder="Not be empty">
  <select class="col-md-2 borders" #mySelectBox name="position" [ngModel]="user.position">
    <option value="">-------</option>
    <option *ngFor="let position of positions.positions">
      {{position}}
    </option>
  </select>
  <input class="col-md-2 borders" type="text" [ngModel]="user.birth" name="birth" required pattern="^(0?[1-9]|[12][0-9]|3[01])\.?(0?[1-9]|1[0-2])\.(19|20)[0-9]{2}$"
    placeholder="Not be empty">
  <div class="col-md-2">
    <button type="submit" *ngIf="myForm.valid && !newUserStatus" class="badge badge-success " (click)="editUserStatus(true) ">Save</button>
    <button type="button" class="badge badge-danger " (click)="editUserStatus(false) ">Back</button>
  </div>
</form>
<div class="row" *ngIf="!editUsersStatus">
  <span class="col-md-2">
    {{user.name}}
  </span>
  <span class="col-md-2">
    {{user.surName}}
  </span>
  <span class="col-md-2">
    {{user.position}}
  </span>
  <span class="col-md-2">
    {{user.birth}}
  </span>
  <span class="col-md-2">
    <button type="button" class="badge badge-primary" (click)="editUserStatus(true)">Edit</button>
    <button type="button" class="badge badge-danger " (click)="deleteUser(user.id) ">Delete</button>
  </span>
</div>

