<div class="container">
  <h1>{{title}}</h1>
  <app-header></app-header>
  <app-users-list [newUserStatus]="newUserStatus"></app-users-list>
  <app-user-new (addNewUserStatus)="addNewUserStatus($event)"></app-user-new>
</div>
