<div class="col.md-2">
  <br>
  <button class="btn btn-primary btn-sm btn-outline-info" (click)="addNewUser(true);getPositions()">Add new user</button>
  <br>
  <br>
</div>
<div *ngIf="newUserStatus">
  <form #myForm2="ngForm" class="row" (submit)="addUser(myForm2.value);addNewUser(false)">
    <input class="col-md-2 borders" type="text" [ngModel] name="name" required placeholder="Not be empty">
    <input class="col-md-2 borders" type="text" [ngModel] name="surName" required placeholder="Not be empty">
    <select class="col-md-2 borders" #mySelectBox name="position" [ngModel]>
      <option value="">-------</option>
      <option *ngFor="let position of positions.positions">
        {{position}}
      </option>
    </select>
    <input class="col-md-2 borders" type="text" [ngModel] name="birth" required pattern="^(0?[1-9]|[12][0-9]|3[01])\.?(0?[1-9]|1[0-2])\.(19|20)[0-9]{2}$"
      placeholder="Not be empty">
    <div class="col-md-2">
      <button type="submit" class="badge badge-primary" *ngIf="myForm2.valid">Save</button>
      <button class="badge badge-danger" (click)="addNewUser(false)">Back</button>
    </div>
  </form>
</div>
