/* You can add global styles to this file, and also import other style files */
.ng-valid:not(form) {
  border-bottom: 2px solid green;
}

.ng-invalid:not(form) {
  border-bottom: 2px solid red;
}
.borders {
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  height: 25px;
}

select {
  background: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-appearance: button;
  background-image: url(http://i62.tinypic.com/15xvbd5.png);
  background-position: 97% center;
  background-repeat: no-repeat;
}
